<!DOCTYPE html>
<html>
{% load static %}
<head>
  <title>Skillfair</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'deepb/style.css' %}" />
</head>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block content %}
  <form method="post" action="{% url 'deepb:upload' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="gene_file">
    <label>Upload Gene File</label><br />
    <input type="file" name="symptom_file">
    <label>Upload Symptom File</label><br />
    <button type="submit">Upload File</button>
  </form>
{% endblock %}

{% if running_message %}<p><strong>{{ running_message }}</strong></p>{% endif %}
