<!DOCTYPE html>
<html>
{% load static %}
<head>
  <title>Deep Brain</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="{% static 'deepb/style.css' %}" />
</head>

{% if last_result %}<h4>{{ last_result }}</h4>{% endif %}

{% if last_result %}
    <h3>Please continue upload your task:</h3>
{% else %}
    <h3>Please upload your task:</h3>
{% endif %}

{% block content %}
  <form method="post" action="{% url 'deepb:upload' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="gene_file">
    <label>Upload Gene File</label><br />
    <input type="file" name="symptom_file">
    <label>Upload Symptom File</label><br />
    <button type="submit">Upload File</button>
  </form>

  <br />
  {% if last_result %}<h3>All your tasks:</h3>{% endif %}
  {% for result in latest_task_list %}
    <a href="{% url 'deepb:details' result.id %}">{{ result.id }}</a><br />
  {% endfor %}

{% endblock %}

{% if running_message %}<p><strong>{{ running_message }}</strong></p>{% endif %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
