p{
  text-decoration: none;
}

.container {
    padding: 40px 120px;
}

@media (max-width: 600px) {
  .container{
    padding: 40px 10px;
  }
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}

/* Define the caption of the carousel*/
.carousel-inner{
  /*min-height: 710px;*/
  background-color: #ffffff;
  filter: drop-shadow(0px 5px 8px #b3b3b3);
}

.carousel-inner img {
  /* make all photos black and white */
    -webkit-filter: grayscale(20%);
    filter: grayscale(0%) brightness(70%);
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption {
    color: #fff !important;
    top:33%;
}

.carousel-caption h3 {
    /*margin-top: 100px;*/
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: normal;
}

.carousel-caption p {
    /*margin-bottom: 250px;*/
    font-size: 25px;
    font-weight: normal;
}

@media (max-width: 620px) {

    .carousel-caption {
        color: #fff !important;
        top:20%;
    }

    .carousel-caption h3{
      font-size: 20px;
      margin-bottom: 20px;
    }

    .carousel-caption p {
        /*margin-bottom: 250px;*/
        font-size: 12px;
    }


}



/* Add a dark background color with a little bit see-through */
.navbar {
  margin-bottom: 0;
  /*background-color: #2d2d30;*/
  background: transparent;
  border: 0;
  font-size: 15px !important;
  letter-spacing: 4px;
  opacity:0.9;
  transition:0.3s;
}

.navbar.disappear{
  transform: translateY(-100%);
}

.navbar.appear{
  transform: translateY(0%);
}

.navbar-brand{
  padding-left: 25px;
}

.navbar-brand img{
  width: 13%;
  height:auto;
  display: inline;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
  color: #ffffff !important;
}

/* On hover, the links will turn white */
.navbar-nav li span:hover {
  color: #fff !important;
  padding-bottom: 5px;
  border-bottom: 3px solid white !important;
}

/* The active link */
.navbar-nav li.active span {
  color: #fff !important;
  /*background-color:#29292c !important;*/
  padding-bottom: 5px;
  border-bottom: 3px solid white !important;
}

.navbar-default .active a{
  background: transparent !important;
}

.navbar-nav ul li a.active-page
{
  background-color:blue;
}



/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: gray !important;
}

/* The products section is a little bit wider*/
.pds{
  /*width: 50px;*/
  /*border: 1px solid black;*/
  padding: 60px 80px 380px 80px;
  margin-top:50px;
}

.pds h3{
  margin-top: -10px;
  margin-bottom: 50px;
  font-weight: normal;
}

.pds a{
  height: 280px;
  color: black;
}

.pds a:hover{
  background: radial-gradient(farthest-corner at 0% -225%, #004d66 0%, #4dd2ff 100%);
  box-shadow: 0 2px 6px 0 rgba(18,46,63,0.50);
  color: #fff !important;
  text-decoration: none;
  cursor: pointer;
}

.pds .developing_app:hover::after{
  content: "（正在全力开发中）";
  line-height: 15px;
  /*margin-top: -30px;*/
}

.pds a:focus{
  text-decoration: none;
}

.pds a div{
  min-height: 200px;
}

.pds a img{
  padding-top: 20px;
  padding-bottom: 20px;
}

.pds .l_img{
  width: 20%;
}

.pds .s_img{
  width: 45%;
}


.pds a p{
  margin-bottom: 10px;
  font-size: 20px;
}

.pd-small img{
  padding-top: 50px !important;
}


/* Black buttons with extra padding and without rounded borders */
.btn {
    padding: 10px 10px;
    background-color: #333;
    color: #f1f1f1 !important;
    border-radius: 0;
    transition: .2s;
    font-size: 20px;
}

.btn1{
  height: 250px;
  width:250px;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000 !important;
}

/* The introduction section area*/
.company-intro{
  /*border: 1px solid blue;*/
  z-index: 0;
}

.company-intro div {
  position: relative;
  /*border: 1px solid red;*/
  width: 90%;
  margin: 0 auto;
  background-color: white;
  margin-top: -350px;
  padding-top: 50px;
  padding-bottom: 60px;
  z-index: 10;
  /* Mask: */
  box-shadow: 0 12px 42px 12px rgba(0,0,0,0.08);
}

.company-intro img {
  width: 15%;
  margin: 20px 0px;
}

.company-intro h3{
  margin-bottom: 40px;
  color: #727272;
}

.company-intro ul li{
  margin: 20px auto;
  line-height: 200%;
  width: 70%;
  text-align: left;
  list-style-type: disc;
}

.company-intro span{
  color: #727272;
  font-size: 13px;
}

/* Define the product introduction area*/
.pd-intro{
   padding-top: 250px;
   margin-top: -250px;
   z-index: 5;
   background-image: linear-gradient(131deg, #3DBDB6 0%, #0089CE 100%);
   /*color: white;*/
}

.pd-intro h3{
  font-weight: normal;
  margin-bottom: 25px;
}

.pd-intro .sub-container{
  position: relative;
  width: 80%;
  margin: 0 auto;
  color:white;
}

.pd-intro .nav{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.pd-intro .nav li{
  flex-basis: 0;
  flex-grow: 1;
}

.pd-intro .nav a{
  /*margin: 10px auto;*/
  text-align: center;
  margin-right: 0px;
  padding-left: 20px;
  padding-right:20px;
  /*width: 180px;*/
}

.pd-intro p {
  text-align: left;
  margin: 0px;
  line-height: 200%;
}

.pd-intro .nav{
  border: 0px;
  list-style-type: none;
}

.pd-intro .nav li a{
  border-radius: 0px;
  color:white;
}

.pd-intro .nav li a:hover{
  background: transparent;
  cursor: pointer;
}

.pd-intro .nav li.active a{
  position: relative;
  color:white;
  opacity:1;
  background:rgba(105,241,255,.4);
  border: 0px solid #ddd;
  padding-left: 25px;
  padding-right:25px;
  z-index: 10;
}

.pd-intro .tab-content ul li {
    list-style-type: disc;
    text-align: left;
    line-height: 150%;
    margin: 10px;
    /*padding-left: 35px;
    padding-right: 40px;*/
}


.pd-intro .tab-content{
  margin: 30px auto;
}


/* Define the partners logo pattern*/
.logos {
    padding: 20px;
    padding-top: 0px;
}

.logos img {
    padding: 10px;
    width: 170px;
}

/* Define the contact*/
#contact p {
  font-size: 20px;
  margin-top: 20px;
}

/* Define the footer*/
footer {
    background-color: #005e80;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}
