.container {
    padding: 40px 120px;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption {
    color: #fff !important;
}

.carousel-caption h3 {
    margin-bottom: 40px;
    font-size: 40px;
}

.carousel-caption p {
    margin-bottom: 250px;
    font-size: 25px;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

/* Add a dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 15px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: gray !important;
}

/* Black buttons with extra padding and without rounded borders */
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1 !important;
    border-radius: 0;
    transition: .2s;
    width: 500px;
    height: 60px;
    font-size: 20px;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000 !important;
}

.logos {
    padding: 20px;
    padding-top: 0px;
}

.logos img {
    padding: 10px;
}

#introduction p {
    text-align: left;
    margin: 0px;
    line-height: 200%;
}

#introduction ul li {
    list-style-type: disc;
    text-align: left;
    line-height: 200%;
    margin: 10px;
    color: #000;
}

#introduction ul li span {
    /* Text color */
    color: black;
}

#product img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); /* make all photos black and white */
    width: 90%; /* Set width to 100% */
    margin: auto;
}

#product ul li {
    list-style-type: disc;
    text-align: left;
    line-height: 150%;
    margin: 10px;
    color: #000;
}

#product p {
    text-align: left;
    margin: 0px;
    line-height: 200%;
}

.nav-tabs li a {
    color: #777;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}