
#enter_task_name {

}

#input_gene_file {
	padding-top: 15px;
}

#input_phen {
	padding-top: 15px;
}

#run_task {
	padding-top: 15px;
}

#result_list {
	padding-left: 10px;
}


textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}