<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>诺亚科技</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
  <link rel="icon" href="{% static 'images/logo.png' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/header-logo.png' %}" alt="header-logo">
        <span>诺亚|Genonova</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#test"><span>诺亚医生</span></a></li>
        <li><a href="#introduction"><span>公司介绍</span></a></li>
        <li><a href="#product"><span>产品介绍</span></a></li>
        <li><a href="#partner"><span>合作伙伴</span></a></li>
        <li><a href="#contact"><span>联系我们</span></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Language
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'deepb:index_en' %}">English</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{% static 'images/carousel_1.jpg' %}" alt="First Carousel">
      <div class="carousel-caption">
        <h3>诺亚科技</h3>
        <p>基因数据智能解读专家</p>
      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/carousel_2.jpg' %}" alt="Second Carousel">
      <div class="carousel-caption">
        <h3>诺亚科技</h3>
        <p>癌症智能诊疗专家</p>
      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/carousel_3.png' %}" alt="Third Carousel">
      <div class="carousel-caption">
        <h3>诺亚科技</h3>
        <p>打造涵盖基因组学、微生物组学、癌症知识图谱的"诺亚医生"</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="test" class="pds container text-center">
  <h3> 诺亚医生 </h3>
  <div class="row">
      <!-- <a class="col-sm-4" target="_blank" href="{% url 'deepb:chpo' %}"><button class="btn btn1">进入智能解读平台</button></a> -->
      <a class="col-sm-3 col-xs-12" target="_blank" href="{% url 'deepb:chpo' %}">
         <div class='pd-small'>
           <img class='s_img'src="{% static 'images/chpo_icon1.png'%}" alt="chpo-icon">
         </div>
           <p> 医学语言处理(CHPO) </p>
      </a>
      <a class="col-sm-6 col-xs-12" target="_blank" href="{% url 'deepb:home_new_ch' %}">
        <div>
           <img class='l_img' src="{% static 'images/gene_interpretation_icon1.png'%}" alt="geneInterpretation-icon">
        </div>
        <p> 遗传病基因智能解读 </p>
      </a>
      <a class="col-sm-3 col-xs-12 developing_app" >
        <div class='pd-small'>
           <img class='s_img' src="{% static 'images/gene_cancer_icon.png'%}" alt="lof-icon">
        </div>
        <p> 癌症基因智能解读</p>
      </a>
  </div>
</div>

<div class="company-intro container text-center">
  <div id="introduction">
    <img src="{% static 'images/logo.png'%}" alt='company_logo'>
    <h3>关于我们</h3>
      <ul>
        <li>
          <span>诺亚蔚蓝科技成立于纽约，是一家人工智能公司，专注于将机器学习（深度学习）、
                自然语言处理、大数据挖掘分析技术应用于医疗健康领域
          </span>
        </li>
        <li>
          <span>核心团队成员具备美国医院（康奈尔医学院，费城儿童医院，宾夕法尼亚大学医学院，斯坦福医学院）、
               互联网科技（Facebook-FAIR, IBM-Watson, Amazon-Echo）、金融科技（Jefferies）和华尔街VC的工作管理经历。
          </span>
        </li>
        <li>
          <span>诺亚科技始终致力于精准医疗的精髓——分子层面的表达。我们利用深度学习和自然语言理解等核心技术，从超过千万篇文献、
            书籍、数据库里挖掘提取归纳基因、变异、蛋白、疾病、路径、药物等生物医药相关知识，
            我们与美国顶尖儿童医院——费城儿童医院合作，在全球范围内率先研发出了基因数据智能解读系统，
            不仅可以在三分钟内找到基因层面上的致病原因，同时使诊断率相较国际平均水平提高了10%—30%。
          </span>
        </li>
        <li>
          <span>
            诺亚科技潜心推动癌症分子诊疗，癌症的分级诊疗，在不断探索人工智能医疗领域深海的同时不断完善产品线，与世界顶尖的肿瘤
            医院斯坦福医学院、亚洲最大的癌症中心共同研发基于东亚人体征的肿瘤分级诊疗系统，利用机器学习去分析海量医疗数据，发现
            潜在数据模式，提高医院医生对患者的诊断率和治愈率。
          </span>
        </li>

      </ul>
  </div>
</div>

<div id="product" class="pd-intro container text-center">
  <div class='sub-container'>
    <h3 class="text-center">产品介绍</h3>
    <ul class="nav nav-tabs">
      <li><a data-toggle="tab" href="#menu1">医学语言处理</a></li>
      <li class="active"><a data-toggle="tab" href="#home">遗传病基因智能解读</a></li>
      <li><a data-toggle="tab" href="#menu2">肿瘤基因智能解读</a></li>
      <li><a data-toggle="tab" href="#menu3">癌症智能诊疗</a></li>
    </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <!-- <h4>遗传病基因智能解读</h4> -->
        <ul>
          <li>
            <span>
              诺亚科技自主研发，通过人工智能阅读文献和遗传病相关数据库，构建了应用于遗传性疾病诊断的基因组二代测序数据分析解读
              流程,以美国三大儿童医院（辛辛那提，费城，波士顿儿童医院）外显子组测序解读需求为参考标准，
              以ACMG基因组解读指南为标准，进行表型匹配以及候选变异筛选，
              一键化完成基因与病人表型匹配以及解读突变致病性，并由医生审核后自动生成详细报告。
            </span>
          </li>
          <li>
            <span>
              诺亚基因智能解读专家（中国版）全面衡量病人的表型与基因匹配及国内家系比较小，遗传模式不好确定等特点，全面考虑到每
              个基因各种可能的遗传模式和基因中每个突变对蛋白编码的影响，运用HGMD，OMIM，orphanet，pubmed等数据库，
              综合打分进行候选基因的排序。第二，以ExAC，gnomAD，1000genome等人群致病基因携带者频率数据库作为筛选突变的重
              要依据，重点增加东亚人群携带者频率的权重，并综合考虑错义突变对蛋白质结构的影响，剪切突变对于基因表达的影响预测，
              同种蛋白功能区已知的类似突变对同种疾病的影响等，参考实时更新的医学生物学文献，对于突变致病性打分。
              第三，除了人类已知的基因及突变，也全面搜索模式生物中某基因对于类似表型的影响，给出可能的候选基因，并提供医生与
              国际其他医学与研究机构的联系机会，旨在帮助病人发现全新的致病机理。
            </span>
          </li>
          <li>
            <span>
              诺亚基因解读专家利用人工智能与自然语言处理的技术，能够达到更全面更及时的数据挖掘，全面呈现任何可能与病人表型相匹
              配的基因与突变，不仅可以在三分钟内找到基因层面上的致病原因，同时使诊断率比国际平均水平提高了10%。对于未确诊
              的病人提供了候选基因，以及与国际其他类似病人匹配的机会，这大大提高了确诊的可能，也增加了医生对新致病基因与机理研究的可能。
            </span>
          </li>
          <li>
            <span>
              2017年8月，基于诺亚基因智能解读专家（遗传病、罕见病）产品在费城儿童医院、辛辛那提儿童医院等美国顶尖儿童医院的良
              好表现（诊断率提升、对个别基因的优秀识别率），诺亚科技现与宾夕法尼亚大学医学院、费城儿童医院联合开发针对遗传基因
              孕前干预的基因Panel，针对无不良生育史的健康父母，设定150个基因筛查；针对病患级别父母，设定包含subpanel的250个
              基因筛查。同时，诺亚科技将联合安捷伦共同研发customized试剂盒及基因数据解读报告。
            </span>
          </li>
        </ul>
      </div>
      <div id="menu1" class="tab-pane fade">
        <!-- <h4>医学语言处理专家</h4> -->
        <ul>
        <li>
          <span>
            临床具有复杂性和模糊性特点，医学发展的
            长久历史造成了疾病命名的交叉分类，很多疾病的表型存在变异性，同一个致病基因的突变在不同患者身上表现可能不同。
            同时，每名医生对患者病情的描述和判断上也存在差异，患者的早、中、后期的病程进展表现也不相同
          </span>
        </li>
        <li>
          <span>
            医疗数据碎片化现象严重，目前的医疗信息的采集和记录缺乏标准化方式，
            缺乏统一的设计和质控，将普通门诊电子病历系统中的相关信息作为结构化的表型数据十分困难，
            门诊病历录入的聚类查询在管理上也存在一定难度。同时，由于临床医生与基因机构缺乏交流平台，
            各家检测数据均为基因数据，而表型数据为患者提供，包括长达 70 多页的临床资料和病理检查结果。
            经过比对表型信息和基因数据，各家机构或公司所得出的结果均不一致，每家对自己的检测都有不同的解读分析。
          </span>
        </li>
        <li>
          <span>
            人类表型术语(Human Phenotype Ontology,HPO), 旨在提供人类疾病中用于描述表型异常的标准词 汇，每个术语描述一种表型异常。
            HPO 建立者利用从医学文献和知识库获得的信息进行开发，目前包含 11896 个名词，已经注释了约 4000 种疾病，注释项超过 115000 项。
            <a href=" " data-toggle="tooltip" title="访问CHPO官网">CHPO</a >(中文人类表型标准用语)，源 于 HPO(Human Phenotype Ontology)，
              旨在中国建立一个开放平台， 联合各相关领域专业人士，
            建立中文临床表型术语标准，整合相关疾病知识库(OMIM 和 ORPHANET)，建立表型与疾病搜索引擎，推动基因数据与表型数据的精准连接。
          </span>
        </li>
        <li>
          <span>
            诺亚医学语言处理专家基于自然语言语义处理技术，参考对照CHPO 中文人类表型标准用语联盟发布的CHPO标准用语，
            将非标准化的症状描述智能转化为标准化用词，同时，我们赋予每一个CHPO词条相应的释义，
            以保证用户所选择的 CHPO 词条确实对应所搜索的表型。
          </span>
        </li>
        </ul>
      </div>
      <div id="menu2" class='tab-pane fade'>
        <!-- 癌症基因智能解读 -->
        <ul>
          <li>
            <span>
              诺亚基因自主研发，通过人工智能阅读文献和遗传病相关数据库，构建了应用于遗传性疾病诊断的基因组二代测序数据分析解读流程,
              以美国三大肿瘤医院（斯隆，贝勒，宾大医院肿瘤中心）cancer panel测序解读需求为参考标准，
              以ACMG2016最新肿瘤基因组解读指南为标准，进行候选变异筛选，一键化完成基因与病人突变致病性解读，
              用药指导，及clinical trial推荐，并由医生审核后自动生成详细报告。同时与斯坦福大学Cherry实验室ClinGen（NIH资助）项目组合作，
              应用并开发癌症体细胞突变的解读以及精准治疗建议。
            </span>
          </li>
          <li>
            <span>
              诺亚癌症基因解读专家（中国版）全面衡量病人的癌症亚型与基因匹配等特点，全面考虑到每个基因每个突变对肿瘤发展及转移
              的影响，运用COSMIC，HGMD，MycancerGenome，pubmed, CiVIC, MyClinicalTrial等数据库，综合考虑突变对病
              人肿瘤的意义。第二，以ExAC，gnomAD，1000genome等人群致以ExAC，gnomAD，1000genome等人群致病基因携带者频
              率数据库作为筛选突变的重要依据，重点增加东亚人群携带者频率的权重，并综合考虑错义突变对蛋白质结构的影响，剪切突变
              对于基因表达的影响预测，同种蛋白功能区已知的类似突变对同种疾病的影响等，参考实时更新的医学生物学文献，对于突变致
              病性打分。第三，提供医生与国际其他医学与研究机构的联系机会，并且推荐clinical trial以及个性化肿瘤药， 旨在作
              为医生的辅助大脑，帮助医生尽早找出治疗方案，帮助病人降低复发率及转移率。
            </span>
          </li>
          <li>
            <span>
              诺亚癌症基因解读专家利用人工智能与自然语言处理的技术，能够达到更全面更及时的数据挖掘，全面呈现任何可能为driver
               mutation的突变，不仅可以在三分钟内找到基因层面上的致病原因，同时使诊断率比国际平均水平提高了30%，并且对于目
               前available的clinical trial以及个性化肿瘤药进行推荐，这大大提高了癌症治疗时间紧任务急的现状，以及增加治愈的
               可能，尽可能避免过度治疗或治疗不够对病人产生的巨大影响。
            </span>
          </li>
        </ul>
      </div>
      <div id="menu3" class="tab-pane fade">
        <!-- <h4>诺亚癌症诊疗专家</h4> -->
        <ul>
        <li>
          <span>
            亚科技联合亚洲最大的肿瘤医院——中国医学科学院肿瘤医院，遵循NCCN指南并汲取包括300多份医学期刊、200余种教科书以及超过
            2000万页的文字在内的海量信息，基于东亚人体征为底层数据来源、赋予东亚人明显权重的文献、知识挖掘支撑，同时包含基因诊断模块、
            肿瘤切片图像模块，共同研发“诺亚超级医生”，训练出的“诺亚超级医生”可以不断自我学习，同时链接业界权威机构及专家，将辅助医生
            做出最有时效、最全面、最科学的诊断决策，解决基层医院医生数量以及经验不足的问题，
            让广大基层患者不需跑北京上海美国，即可享有院士级别乃至全球最先进级别的癌症治疗
          </span>
        </li>
        <li>
          <span>
            通过遵循NCCN(National Comprehensive Cancer Network)指南，获得世界顶级肿瘤学专业国际水准肿瘤治疗专业知识；<br/>
            通过与医疗专家共同制定的证据分级策略，迅速整理病患医疗记录，提高肿瘤学家的工作效率；<br/>
            通过分析海量医学文献，确定个性化诊疗方案，助力肿瘤学家为患者提供高质量、循证型癌症治疗方案；<br/>
            通过与亚洲最大的肿瘤医院——中国医学科学院肿瘤医院及北京肿瘤医院合作，获得具有东亚人特征的肿瘤诊治专业方法与万例真实临床病人数据。
          </span>
        </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div id="partner" class="container text-center">
  <h3>合作伙伴</h3>
  <div class="logos center">
    <img src="{% static 'images/chinese1-logo.gif' %}" alt="chinese1-logo">
    <img src="{% static 'images/beijing-logo.jpg' %}" alt="chinese1-logo">
    <img src="{% static 'images/wcmc-logo.jpg' %}" alt="wcmc-logo">
    <img src="{% static 'images/gatech-logo.gif' %}" alt="gatech-logo">
    <img src="{% static 'images/nyu-logo.png' %}" alt="nyu-logo">
    <img src="{% static 'images/jackson-laboratory-logo.jpg' %}" alt="jackson-laboratory-logo">
    <img src="{% static 'images/stanford-logo.jpg' %}" alt="stanford-logo">
    <img src="{% static 'images/tsinghua-logo.png' %}" alt="tsinghua-logo">
    <img src="{% static 'images/ch-logo.jpg' %}" alt="ch-logo">
    <img src="{% static 'images/ums-logo.jpg' %}" alt="ums-logo">
  </div>
  <br>
</div>

<div id="contact" class="container text-center">
  <h3>联系我们</h3>
   <p>contact@genonova.com</p>
  <br>
</div>

<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>诺亚科技 <a href="https://www.genonova.com" data-toggle="tooltip" title="Visit Genonova">www.genonova.com</a></p>
</footer>

<script>
  $(document).ready(function(){
    // Add smooth scrolling to all links in navbar + footer link
    $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
        });
      } // End if
    });
  })

  $(document).ready(()=>{
    var iScrollPos = 0;
    var carouselHeight = $('.carousel:first').height();
    $(window).scroll(function () {
        var iCurScrollPos = $(this).scrollTop();
        if (iCurScrollPos > iScrollPos + 10) {
            //Scrolling Down
            $('.navbar-fixed-top:first').addClass('disappear');
            $('.navbar-fixed-top:first').removeClass('appear');
        }
        else if(iCurScrollPos < iScrollPos - 10) {
           //Scrolling Up
            $('.navbar-fixed-top:first').removeClass('disappear');
            $('.navbar-fixed-top:first').addClass('appear');
        }
        iScrollPos = iCurScrollPos;
        if(iScrollPos > carouselHeight){
          $('.navbar-fixed-top:first').css("background-color","#005e80");
        }else{
          $('.navbar-fixed-top:first').css("background","transparent");
        }
    });
  });
</script>

<script>
  $(document).ready(function(){
      // Initialize Tooltip
      $('[data-toggle="tooltip"]').tooltip();
  })
</script>



</body>
</html>
