// Define the result page style
.result_page{
  position: relative;
  width: 100%;
  height:100%;
  // border: 1px solid blue;
  color:#406A8C;
  .back-sign{
    position: relative;
    padding: 15px 15px;
    img{
      position: relative;
      width: 3%;
      cursor: pointer;
    }
    span{
      font-size: 18px;
      margin-left: 10px;
      vertical-align: middle;
    }
  }
}

.result_table_nav{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  ul {
    position: relative;
    list-style-type: none;
    margin:0px;
    margin-left: 15px;
    padding-left: 0px;
    width: 80%;
    display: flex;
    justify-content:space-between;
    border: 1px solid #58BCEB;
    border-right: 0px;
    border-radius: 4px;
    overflow: hidden;
    li{
      background-color: white;
      flex-basis: 100%;
      width: auto;
      padding: 5px 10px;
      vertical-align: middle;
      border: 0px;
      border-right: 1px solid #58BCEB;
      text-align: center;
      cursor: pointer;
      span{
        vertical-align: middle;
        color: #406A8C;
        text-decoration: none;
        background-color: transparent;
        border: 0px;
        pointer-events: none;
      }
      &.active{
        background-color: #4A90E2;
        span{
          color:white;
        }
      }
      &:hover{
        background-color: #4A90E2;
        span{
          color:white;
        }
      }
    }
  }

  #review_button{
    margin-right: 20px;
    background-color: #58BCEB;
    vertical-align: middle;
    border: 0px;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 0px 25px;
    height: 30px;
    box-shadow: 0 1px 3px 0 rgba(117,146,222,0.85);
    // line-height: 15px;
    &:hover,&:focus{
      background-color: #32ade7;
    }
  }
}

.review_block{
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  height: 170px;
  background: #F5F6FA;
  box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
  .question_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .review_question{
    margin-top:15px;
    text-align: center;
    flex-basis: 100%;
    label{
      padding: 0px 10px;
      text-indent: 10px;
      span{
        padding-left: 5px;
      }
    }
    textarea{
      border: 1px solid #e6e6e6;
    }
  }
  #review_submit{
    height: 30px;
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    line-height:0px;
    letter-spacing: 5px;

  }
}

.result_area{
  position: relative;
  padding: 15px 15px;
  padding-bottom: 5px;
  height: 84%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

.result_table{
  flex-grow: 1;
  width: 100%;
  table{
    width: 100%;
    background: #FFFFFF;
    box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
  }
  thead{
    th{
      text-align: center;
      border: 1px solid #e6e6e6;
      padding: 20px 0px;
      font-weight: bold;
    }
    .sort{
      cursor: pointer;
      padding: 0px 0px;
    }
  }
  tbody{
    tr{
      &:hover{
        background-color: rgba(242, 242, 242,0.6);
      }
    }
    td{
      text-align: center;
      max-width: 100px;
      border: 1px solid #e6e6e6;
      padding: 5px 0px;
      word-wrap: break-word;
    }
  }
  .pagify-pagination{
    position: fixed;
    left: 19%;
    top:95%;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span{
      margin: 0px 5px;
      cursor: pointer;
    }
  }
}


// Define the annotation page style
.annotation_page{
  background: rgba(55,70,95,0.8);
  position: fixed;
  width: 100%;
  height:100%;
  left:0%;
  top:0%;
  z-index: 50;
  .annotation_area{
    position: relative;
    top:8%;
    height:85%;
  }
  .annotation_header{
    background-color: white;
    position: relative;
    width: 70%;
    margin: 0px auto;
    color: white;
    display: flex;
    justify-content: space-between;
    p{
      color:#406A8C;
      vertical-align: middle;
      margin:0px 7%;
      letter-spacing: 10px;
      font-size: 16px;
      padding: 11px 0px;
      span{
        color:#4A90E2;
        letter-spacing: 3px;
      }
    }
  }
  img{
    position: absolute;
    width: 45px;
    top:0%;
    left:85%;
    padding: 0px 0px;
    cursor: pointer;
  }
  .annotation_table{
    background-color: white;
    position: relative;
    width: 70%;
    max-height: 90%;
    margin: 10px auto;
    overflow: auto;
    table{
      position: relative;
      width: 100%;
      color:#406A8C;
      .col1{
        width: 20%;
        border-right: 1px solid #f2f2f2;
      }
      .col2{
        width: 80%;
      }
    }
    th{
      text-align: center;
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 10px;
      padding: 10px 0px;
      border-bottom: 1px solid #f2f2f2;
    }
    td{
      padding: 6px 0px;
      &.col1{
        text-align: center;
      }
      &.col2{
        text-align: left;
        text-indent: 20px;
      }
    }
  }
}


// Define the review list page style
.review_list{
  position: relative;
  margin: 25px 25px;
  width: 65%;
  height: 90%;
  p{
    margin-top: 10px;
    padding-left: 40px;
    font-size: 14px;
    color: #4A90E2;
  }
}

.review_list_table{
  position: relative;
  width: 100%;
  overflow: auto;
  background: #FFFFFF;
  box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
  text-align: center;
  table{
    width: 100%;
    color: #406A8C;
  }
  th{
    text-align: center;
    background: #FFFFFF;
    border: 0px;
    padding: 15px 0px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 17px;
    font-weight: normal;
  }
  tr{
    &:hover{
      background: #F5F6F7;
    }
  }
  td{
    padding: 15px 0px;
    font-size: 15px;
  }
  .tc1{
    width: 25%;
  }
  .tc2{
    width: 50%;
  }
}
