// Define the new task page style
.new_task{
  position: relative;
  width: 100%;
  height:100%;
  margin-left: 20px;
  display: flex;
  flex-flow:row nowrap;
  justify-content: flex-start;
  color:#406A8C;
  &>label{
    position: absolute;
    // top:88%;
    top:560px;
    left:77%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #0275d8;
    border: 0px;
    span{
      padding: 25px 10px;
    }
    &:hover{
      background-color: #025fb1;
    }
  }

}

.new_task_upload{
  position: relative;
  flex-grow: 0;
  width: 70%;
  height:95%;
  margin-right: 20px;
  margin-top: 20px;
  overflow:auto;
  overflow-x: hidden;
  label{
    margin-bottom: 0px;
    font-weight: normal;
  }
  .file_input{
    position: relative;
    z-index: 5;
    width: 80px;
    height:20px;
    background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    span{
      position: relative;
      display: inline-block;
      font-size: 11px;
      color:#53BAEC;
      cursor: pointer;
      &.prompt{
        display: block;
        margin-top: 5px;
        color:#406A8C;
        font-size: 10px;
        cursor: default;
      }
    }
    input{
      position: relative;
      visibility: hidden;
      width: 0px;
      height:0px;
      z-index: 0;
    }
  }
  textarea{
    border: 1px solid #e6e6e6;
  }
  #task_submit{
    display: none;
  }
}

// Design the progress tasks list
.new_task_progress{
  position: relative;
  flex-grow: 0;
  background: #FFFFFF;
  box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
  margin-top: 20px;
  width: 22%;
  // height:82%;
  height: 525px;
  overflow: auto;
  .tb-title{
    position: relative;
    width: 100%;
    padding-top: 0px;
    padding: 20px;
  }
}


// Design the task list page table
.task_list{
  position: relative;
  margin: 20px 20px;
  width: 65%;
  height: 90%;
  .search_container{
    position: relative;
    width: 100%;
    height:7%;
    margin-bottom: 10px;
    span{
      position: absolute;
      height: 50%;
      font-size: 12px;
      opacity: 0.4;
      transform: translate(0, -50%);
    }
    div{
      position: relative;
      width: 100%;
      height: 100%;
      select{
        display: none;
      }
      input{
        position: relative;
        width: 100%;
        height: 100%;
        border: 0px;
        /* Input: */
        background: #FFFFFF;
        border: 1px solid #58BCEB;
        border-radius: 4px;
        &::-webkit-input-placeholder{
          text-indent: 6%;
          background:url('../files/images/search_icon.png') no-repeat;
          background-position: 2% 0;
          background-size: 19px;
        }
      }
    }
  }
  p{
    margin-top: 10px;
    padding-left: 40px;
    font-size: 14px;
    color: #4A90E2;
  }
}

.task_list_table{
  position: relative;
  width: 100%;
  background: #FFFFFF;
  box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
  overflow: auto;
  height: 92%;
  table{
    width: 100%;
    text-align: center;
    color: #406A8C;
  }
  th{
    text-align: center;
    background: #FFFFFF;
    border: 0px;
    padding: 15px 0px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 17px;
    font-weight: normal;
  }
  tr{
    &:hover{
      background: #F5F6F7;
    }
  }
  td{
    padding: 15px 0px;
    font-size: 15px;
  }
  .tc1{
    width: 25%;
  }
  .tc2{
    width: 50%;
  }
}

.clickable{
  cursor: pointer;
}
