{% extends 'base.html' %}
{% load static %}

{% block css %}
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.2/css/select.dataTables.min.css">
    <style>
        table.dataTable tbody td {
        word-break: break-word;
        vertical-align: top;
        }
    </style>
{% endblock %}

{% block content %}
<form name="chpo" method="post" action="{% url 'deepb:chpo' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class = "container" id = "enter_task_name">
    <label>输入表型匹配HPO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="{% static 'file/CHPO介绍说明.pdf' %}"><small>介绍说明</small></a></label> &nbsp;</br>
     
    <input type="text" name="chpo" placeholder="" required>
    <button type="submit", onClick="return">Submit</button>
  </div>
</form>
<br /><br />
<div class = "container">
  {% if match_result %}
    <table id="result" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>表型中文名</th>
                <th>表型英文名</th>
                <th>HPO编号</th>
                <th>类别</th>
                <th>释义</th>
            </tr>
        </thead>
    </table>
  {% endif %}
</div>
<br /><br />
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.2/js/dataTables.select.min.js"></script>

    <script>
    var result = {{ match_result }}
    $(document).ready(function() {
        $('#result').dataTable({
            "ordering": false,
            "data": result,
            "searching":false,
            "autoWidth": false,
            "paging":false,
            "info":false,
            "columns": [
                { "data" : "表型中文名" , "width": "14%" },
                { "data" : "表型英文名" , "width": "14%" },
                { "data" : "HPO编号" , "width": "10%" },
                { "data" : "类别" , "width": "15%" },
                { "data" : "释义" , "width": "37%" }
            ],
            "language": {
                        "sEmptyTable":     "无匹配",
                    }

        } );
    } );
    </script>
{% endblock %}