{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
{% load static %}
<head>
  <title>Deep Brain</title>
  <meta charset="utf-8"/>
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'deepb/style.css' %}" /> -->
    <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
  {% if last_result %}<h4>{{ last_result }}</h4>{% endif %}

  {% if last_result %}
      <h3>Please continue upload your task:</h3>
  {% else %}
      <h3>Please upload your task:</h3>
  {% endif %}

    <form method="post" action="{% url 'deepb:upload' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="gene_file">
      <label>Upload Gene File</label><br />
      <input type="file" name="symptom_file">
      <label>Upload Symptom File</label><br />
      <input type="text" name="task_name">
      <label>Please enter your task name</label><br />
      <button type="submit">Upload File</button>
    </form>

    <br />
    {% if last_result %}<h3>All your tasks:</h3>{% endif %}
    {% for result in latest_task_list %}
      {% if result.status == 'In progress' %}
        Task name: &nbsp;
        {{ result.raw_input_table.task_name }}<br />
        Task status: In progress<br />
      {% elif result.status == 'Failed'%}
        Task name: &nbsp;
        {{ result.raw_input_table.task_name }}<br />
        Task status: Failed<br />
      {% elif result.status == 'Succeed' %}
        Task name: &nbsp;
        <a href="{% url 'deepb:details' result.id %}">{{ result.raw_input_table.task_name }}</a><br />
        Task status: Succeed<br />
      {% else %}
        Task name: &nbsp;
        {{ result.raw_input_table.task_name }}<br />
        Task status: Server Error<br />
      {%  endif %}
      <br />
    {% endfor %}
  </div>  
</body>
{% endblock %}
