<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>诺亚基因</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">诺亚基因</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#test">基因解读</a></li>
        <li><a href="#introduction">公司介绍</a></li>
        <li><a href="#partner">合作伙伴</a></li>
        <li><a href="#contact">联系我们</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">语言
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'deepb:index_en' %}">English</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{% static 'images/carousel_1.jpg' %}" alt="First Carousel">
      <div class="carousel-caption">
        <h3>诺亚基因</h3>
        <p>智慧医疗领跑者</p>
      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/carousel_2.jpg' %}" alt="Second Carousel">
      <div class="carousel-caption">
        <h3>诺亚基因</h3>
        <p>一键式解读基因测序海量数据</p>
      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/carousel_3.jpg' %}" alt="Third Carousel">
      <div class="carousel-caption">
        <h3>诺亚基因</h3>
        <p>源自美国ACMG金标准</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div id="test" class="container text-center">
  <h3>基因解读</h3>
  <p>联系我们申请试用基因测序智能解读平台1.0版</p>
  <br>
<div class="row">
    <a target="_blank" href="{% url 'deepb:home_ch' %}"><button class="btn">进入智能解读平台</button></a>
</div>
</div>

<div id="introduction" class="container text-center">
  <h3>公司介绍</h3>
  <ul>
  <li><span>诺亚基因成立于纽约，是一家用人工智能技术实现了基因测序报告全智能化解读的公司，并基于机器学习（深度学习)
      技术构建全球首个基因组学全图谱，全球首个微生物组学全图谱，其核心技术“机器自主阅读文献”代表了当前全球AI技术的最高水平</span></li>
  <li><span>其核心产品“基因测序报告智能解读平台”已应用于全球排名第一的生物医学机构宾夕法尼亚大学、全美医学院TOP3-约翰霍普金斯医学院、
      康奈尔医学院、全美儿童医学院排名第一费城儿童医学院</span></li>
  <li><span>诺亚基因开发团队来自全球排名第一的洛克菲勒大学分子诊断团队和佐治亚理工人工智能领军团队</span></li>
  </ul>
</div>

<div id="partner" class="container text-center">
  <h3>合作伙伴</h3>
  <div class="logos center">
    <img src="{% static 'images/aecm-logo.jpg' %}" alt="aecm-logo">
    <img src="{% static 'images/alexion-logo.jpg' %}" alt="alexion-logo">
    <img src="{% static 'images/berkeley-logo.jpg' %}" alt="berkeley-logo">
    <img src="{% static 'images/boston-university-logo.jpg' %}" alt="boston-university-logo">
    <img src="{% static 'images/bwh-logo.jpg' %}" alt="bwh-logo">
    <img src="{% static 'images/cancer-research-logo.jpg' %}" alt="cancer-research-logo">
    <img src="{% static 'images/case-western-logo.jpg' %}" alt="case-western-logo">
    <img src="{% static 'images/cinj-logo.jpg' %}" alt="cinj-logo">
    <img src="{% static 'images/columbia-university-logo.jpg' %}" alt="columbia-university-logo">
    <img src="{% static 'images/conv-bio-logo.jpg' %}" alt="conv-bio-logo">
    <img src="{% static 'images/cshl-logo.jpg' %}" alt="cshl-logo">
    <img src="{% static 'images/dana-farber-logo.jpg' %}" alt="dana-farber-logo">
    <img src="{% static 'images/duke-logo.jpg' %}" alt="duke-logo">
    <img src="{% static 'images/fhutch-logo.jpg' %}" alt="fhutch-logo">
    <img src="{% static 'images/gus-logo.jpg' %}" alt="gus-logo">
    <img src="{% static 'images/h3-biomed-logo.jpg' %}" alt="h3-biomed-logo">
    <img src="{% static 'images/harvard-logo.jpg' %}" alt="harvard-logo">
    <img src="{% static 'images/hhmi-logo.jpg' %}" alt="hhmi-logo">
    <img src="{% static 'images/jackson-laboratory-logo.jpg' %}" alt="jackson-laboratory-logo">
    <img src="{% static 'images/lioh-logo.jpg' %}" alt="lioh-logo">
    <img src="{% static 'images/md-anderson-logo.jpg' %}" alt="md-anderson-logo">
    <img src="{% static 'images/mgh-logo.jpg' %}" alt="mgh-logo">
    <img src="{% static 'images/moffitt-logo.jpg' %}" alt="moffitt-logo">
    <img src="{% static 'images/mount-sinai-logo.jpg' %}" alt="mount-sinai-logo">
    <img src="{% static 'images/mskcc-logo.jpg' %}" alt="mskcc-logo">
    <img src="{% static 'images/NIH-logo.jpg' %}" alt="NIH-logo">
    <img src="{% static 'images/novo-nordisk-logo.jpg' %}" alt="novo-nordisk-logo">
    <img src="{% static 'images/novus-logo.jpg' %}" alt="novus-logo">
    <img src="{% static 'images/nyusm-logo.jpg' %}" alt="nyusm-logo">
    <img src="{% static 'images/otsuka-logo.jpg' %}" alt="otsuka-logo">
    <img src="{% static 'images/penn-logo.jpg' %}" alt="penn-logo">
    <img src="{% static 'images/pfizer-logo.jpg' %}" alt="pfizer-logo">
    <img src="{% static 'images/regeneron-logo.jpg' %}" alt="regeneron-logo">
    <img src="{% static 'images/rigel-logo.jpg' %}" alt="rigel-logo">
    <img src="{% static 'images/rockland-logo.jpg' %}" alt="rockland-logo">
    <img src="{% static 'images/rocku-logo.jpg' %}" alt="rocku-logo">
    <img src="{% static 'images/stanford-logo.jpg' %}" alt="stanford-logo">
    <img src="{% static 'images/suny-downstate-logo.jpg' %}" alt="suny-downstate-logo">
    <img src="{% static 'images/ucf-logo.jpg' %}" alt="ucf-logo">
    <img src="{% static 'images/ucsf-logo.jpg' %}" alt="ucsf-logo">
    <img src="{% static 'images/uom-logo.jpg' %}" alt="uom-logo">
    <img src="{% static 'images/usf-logo.jpg' %}" alt="usf-logo">
    <img src="{% static 'images/wcmc-logo.jpg' %}" alt="wcmc-logo">
    <img src="{% static 'images/wistar-logo.jpg' %}" alt="wistar-logo">
    <img src="{% static 'images/yale-logo.jpg' %}" alt="yale-logo">

  </div>
  <br>
</div>

<div id="contact" class="container text-center">
  <h3>联系我们</h3>
  <p>contact@www.genonova.com</p>
  <br>
</div>

<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>诺亚基因 <a href="https://www.genonova.com" data-toggle="tooltip" title="Visit Genonova">www.genonova.com</a></p>
</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

  // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){

      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
    } // End if
  });
})
</script>

<script>
$(document).ready(function(){
    // Initialize Tooltip
    $('[data-toggle="tooltip"]').tooltip();
})
</script>



</body>
</html>
