<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>诺亚科技</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">诺亚科技</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#test">基因解读</a></li>
        <li><a href="#introduction">公司介绍</a></li>
        <li><a href="#product">产品介绍</a></li>
        <li><a href="#partner">合作伙伴</a></li>
        <li><a href="#contact">联系我们</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">语言
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'deepb:index_en' %}">English</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{% static 'images/carousel_1.jpg' %}" alt="First Carousel">
      <div class="carousel-caption">
        <h3>诺亚科技</h3>
        <p>医学语言处理专家，基因数据智能解读专家</p>
      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/carousel_2.jpg' %}" alt="Second Carousel">
      <div class="carousel-caption">
        <h3>诺亚科技</h3>
        <p>肿瘤分级诊断专家</p>
      </div>
    </div>

    <div class="item">
      <img src="{% static 'images/carousel_3.jpg' %}" alt="Third Carousel">
      <div class="carousel-caption">
        <h3>诺亚科技</h3>
        <p>着力打造涵盖基因组学图谱、微生物组学图谱、医学知识图谱的"诺亚超级医生"</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div id="test" class="container text-center">
  <h3>基因解读</h3>
  <p>联系我们申请试用基因测序智能解读平台1.0版</p>
  <br>
<div class="row">
    <a target="_blank" href="{% url 'deepb:home_ch' %}"><button class="btn">进入智能解读平台</button></a>
</div>
</div>

<div id="introduction" class="container text-center">
  <h3>公司介绍</h3>
  <ul>
  <li><span>诺亚科技成立于纽约，是一家人工智能公司，专注于将机器学习（深度学习）、自然语言处理、大数据挖掘分析技术应用于医疗健康领域</span></li>
  <li><span>团队核心成员具有美国顶尖互联网、金融科技、VC和医院的工作管理经历</span></li>
  <li><span>核心技术是利用深度学习和自然语言理解，从超过千万篇文献、书籍、数据库里挖掘提取归纳生物医药相关知识，并利用机器学习去分析海量医疗数据，发现潜在数据模式</span></li>
  </ul>
</div>

<div id="product" class="container text-center">
  <h3 class="text-center">产品介绍</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">基因测序智能解读</a></li>
    <li><a data-toggle="tab" href="#menu1">医学语言处理专家</a></li>
    <li><a data-toggle="tab" href="#menu2">诺亚肿瘤分级诊断专家</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h4>基因测序智能解读</h4>
      <br>
      <img src="{% static 'images/gene.png' %}" alt="intro">
      <br><br><br>
      <ul>
      <li><span>基于人工智能——深度自然语言理解（NLP）技术使基因检测数据解读全站实现智能化</span></li>
      <li><span>整个流程智能化，包括从病历表型匹配到HPO标准词，使用者无需医学或相关知识背景即可无障碍操作</span></li>
      <li><span>发挥AI独有优势每日更新15+权威数据库（可无限延展），并应用深度自然语言理解技术对每日更新的超过两千万篇生物医学文献自动搜索摘要和全文，
          检查相关表型，提取变异位点相关信息包括相似变异位点、蛋白功能区影响、致病性、疾病表型关联、动物实验、功能研究等；且整个流程标准化，避免人工解读的误差</span></li>
      <li><span>基于美国ACMG标准，诺亚基因创立独有定量化变异位点致病性排序系统，为辅助诊断提供更全面的参考系</span></li>
      </ul>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h4>医学语言处理专家</h4>
      <ul>
      <li><span>临床具有复杂性和模糊性特点，目前，每名医生对患者病情的描述和判断上存在差异， 目前的医疗信息的采集和记录缺乏标准化方式。 并且，由于临床医生与基因机构缺乏交流平台，
          由患儿家长所提供的表型数据千差万别，各家机构或公司所得出的结果均不一致，每家对自己的检测都有不同的解读分析</span></li>
          <li><span>由于上述种种问题，临床医生，研究人员，基因机构，患者及家属都无法有效利用标准化医学语言词典如<a href="http://wiki.chinahpo.org/index.php/" data-toggle="tooltip" title="访问CHPO官网">CHPO</a>，
          我们的医学语言处理专家基于自然语言语义处理的，非标准化的医生对症状的描述智能转化为标准化用词，让临床医生和研究人员可以使用他们以往的习惯性医学词汇，患者和家属可以应用他们所熟悉和理解的“门外汉”通俗描述语言，
          我们的系统都可以自动帮其转化成标准用语。另外，对于每一个CHPO词条我们还给出了相应的释义，以保证用户所选择的CHPO词条确实对应所搜索的表型</span></li>
      </ul>
      <br>
      <a target="_blank" href="{% url 'deepb:chpo' %}"><button class="btn">进入医学语言处理专家</button></a>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h4>诺亚肿瘤分级诊断专家</h4>
      <br>
      <img src="{% static 'images/intro.png' %}" alt="gene">
      <br><br><br>
      <ul>
      <li><span>通过遵循NCCN(National Comprehensive Cancer Network)指南，获得世界顶级肿瘤学专业国际水准肿瘤治疗专业知识</span></li>
      <li><span>通过对医学文献进行打分评级，迅速整理病患医疗记录，以提高肿瘤学家的工作效率</span></li>
      <li><span>通过分析海量医学文献，确定个性化诊疗方案，助力肿瘤学家为患者提供高质量、循证型癌症治疗方案</span></li>
      <li><span>通过与亚洲最大的肿瘤医院——中国国家癌症中心合作，获得具有东亚人特征的肿瘤诊治专业方法与万例真实临床病人病例</span></li>
      <li><span>诺亚肿瘤分级诊断专家代表着计算范式方面的根本性转变，通过处理海量知识而不断自我进步的学习系统正在逐步替代可编程系统并成为主导。而在过去的几十年中，可编程系统是主流之一。
          诺亚肿瘤分级诊断专家基于Nova专家的前沿研究，已具备阅读和理解自然语言的能力。Nova肿瘤解决方案由诺亚科技开发，和亚洲最大的癌症研究中心——中国国家癌症中心共同推进。</span></li>
      <li><span>诺亚肿瘤分级诊断专家能够汲取海量信息，其中包括300多份医学期刊、200余种教科书以及近1500万页的文字，进而能够就药物选择及用药方案方面提供建议。同时，诺亚肿瘤分级诊断专家还能够链接
          至经业界权威评审的研究以及临床指南。其机器学习能力也意味着它可以随着时间的推移而不断地学习。</span></li>
      </ul>
    </div>
  </div>
</div>


<div id="partner" class="container text-center">
  <h3>合作伙伴</h3>
  <div class="logos center">
    <img src="{% static 'images/chinese1-logo.gif' %}" alt="chinese1-logo">
    <img src="{% static 'images/beijing-logo.jpg' %}" alt="chinese1-logo">
    <img src="{% static 'images/wcmc-logo.jpg' %}" alt="wcmc-logo">
    <img src="{% static 'images/gatech-logo.gif' %}" alt="gatech-logo">
    <img src="{% static 'images/nyu-logo.png' %}" alt="nyu-logo">
    <img src="{% static 'images/jackson-laboratory-logo.jpg' %}" alt="jackson-laboratory-logo">
    <img src="{% static 'images/stanford-logo.jpg' %}" alt="stanford-logo">
    <img src="{% static 'images/tsinghua-logo.png' %}" alt="tsinghua-logo">
    <img src="{% static 'images/ch-logo.jpg' %}" alt="ch-logo">
    <img src="{% static 'images/ums-logo.jpg' %}" alt="ums-logo">
  </div>
  <br>
</div>

<div id="contact" class="container text-center">
  <h3>联系我们</h3>
  <p>contact@genonova.com</p>
  <br>
</div>

<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>诺亚科技 <a href="https://www.genonova.com" data-toggle="tooltip" title="Visit Genonova">www.genonova.com</a></p>
</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

  // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){

      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
    } // End if
  });
})
</script>

<script>
$(document).ready(function(){
    // Initialize Tooltip
    $('[data-toggle="tooltip"]').tooltip();
})
</script>



</body>
</html>
